* {
    margin: 0;
    padding:  0;
    font-family: 'Source Sans Pro',sans-serif
    
}

header {
    position: absolute;
    width: 90%;
    left: 5%;
    height: 172px;
}

p {
    display: inline-block;
}

div {
    display: inline-block;
    margin: 17px;
}
 
input {
    width: 900px;
    padding: 10px;
    border-radius: 15px;
    background: rgb(213, 201, 201);
  
}

[class^="icon-"], [class*="icon-"] {
    color: #b5b5b5;
    
    font-size: 20px;
}

 btn {
    font-size: 15px;
    margin-left: 20px;
    padding: 10px;
}


.box-button {  
    position: relative;
    top:100px;
    width: 75%;
    margin: 0 14%;   
}

.button {
    border: none;
    border-radius: 5%;
    color: white;
    font-size: 15px;
    font-weight:bold;
    margin: 8px;
    padding: 20px;
    text-decoration: none; 
}

.cheat {
    background-color:  rgba(115,95,78, 0.5);
     background-image: url(https://laboratoria.github.io/pinterestify/img/1.jpg);  
}

.tutoria {
    background-color: rgba(171, 139, 111, .8); 
    background-image: url(https://laboratoria.github.io/pinterestify/img/3.jpg);  
}

.code {
    background-color: rgba(136, 104, 76, .8);
    background-image: url(https://laboratoria.github.io/pinterestify/img/3.jpg);  
}

.fun {
    background-color: rgba(136, 104, 76, .8);
    background-image: url(https://laboratoria.github.io/pinterestify/img/4.jpg);  
}

.programming {
    background-color: rgba(148, 145, 75, .8);
    background-image: url(https://laboratoria.github.io/pinterestify/img/5.jpg);  
}

.projects {
    background-color: rgba(146, 128, 118, .8);
    background-image: url(https://laboratoria.github.io/pinterestify/img/6.jpg);  
}

.post {
    background-color: rgba(138, 119, 99, .8);
    background-image: url(https://laboratoria.github.io/pinterestify/img/7.jpg);  
}

.medium {
    background-color: rgba(146, 128, 118, .8);
    background-image: url(https://laboratoria.github.io/pinterestify/img/8.jpg);  
}

.videos {
    background-color: rgba(177, 126, 118, .8);
    background-image: url(https://laboratoria.github.io/pinterestify/img/9.jpg);  
}




section {
    position: relative;
    width: 90%;
    margin: 110px auto; 
}
  

.caja {
    float: left;;
    width: 23.5%; 
    margin: 8px;
}

img {  
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px; 
}

.nota {
    font-size: 13px;
    margin-bottom: 25px;
    line-height: 1.5;   
}

.nota ul {
    margin-right: 50px;
}

.nota ul li {
    list-style: none;
    padding: 2px;
    float: right;
    color: rgb(172, 172, 172);
    font-size: 9px;
}

.nota ul li span {
    color: rgb(172, 172, 172);
}

h3 {
    padding-bottom: 5px;
}

.nota div {
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    color:rgb(255, 255, 255);
    background: #ce84a1;    
}


.nota  .autor{
    display: inline-block;
    padding: 4px;
   
}





























    



